  <div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'bar_dumb.jpg' %>')">
    <h1>HARRY POTTER'S</h1>
    <p>Magical Cocktails</p>

    <%= link_to "Add a new cocktail", new_cocktail_path, class: 'center-block add-cocktail-btn' %>
  </div>

 <br>
  <div class="card-container container">




      <% @cocktails.each do |cocktail| %>
      <div class="card-item">
        <div class="card-img">
          <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %>
        </div>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#"><%= link_to cocktail.name, cocktail_path(cocktail) %></a>
          </h4>
        </div>
      </div>
      <% end %>
  </div>

  <div class="pagination-flex">
    <ul class="pagination text-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>







  </div>
