<div class="container">

  <%= simple_form_for @cocktail do |f| %>
  <%= f.input :name, label: 'Please enter the name of your cocktail', error: 'Name is mandatory, please specify one' %>
  <%= f.submit "Add a new Cocktail!", class: "btn btn-primary" %>
  <%= f.input :photo %>
  <% end %>

</div>


